body {
	margin: 0;
	padding: 200px;
}

.wrapper {
	max-width: 100%;
	width: 1000px;
	display: block;
	text-align: center;
	position: relative;
	left: 0;
	top: 0;
}

.box{
	display: table;
	margin-bottom: 15px;
	color: #fff;
	font-size: 22px;
}

.box sup {
	font-size: 16px;
}

.box::after {
	content: "";
	display: table-cell;
	border-width: 41px 0 41px 50px;
	border-style: solid;
	vertical-align: middle;
}

.box-1 {
	width: 100%;
}

.box-1 > .block {
	background-color: #AD00C9;
}

.box-1::after{
	border-color: transparent transparent transparent #AD00C9; 
}

.block {
	display:table-cell;
    background-color: #AD00C9;
    padding-top: 25px;
	padding-bottom: 25px;
	vertical-align: middle;
	width: 100%;
}



.box-2 {
	width: 45%;
}

.box-2 > .block {
	background-color: #5200FF;
}

.box-2::after {
	border-color: transparent transparent transparent #5200FF; 
}

.box-3 {
	width: 78%;
	position: relative;
}

.box-3 > .block {
	background-color: #00F0FF;
}


.box-3::after {
	border-color: transparent transparent transparent #00F0FF; 
}

.alert{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: rgba(255, 255, 255, 0.65);
    color: #ff0000;
    border: 2px solid #FF0000;
    box-sizing: border-box;
}

.box-4 {
	width: 66%;
}

.box-4 > .block {
	background-color: #07959E;
}

.box-4::after {
	border-color: transparent transparent transparent #07959E; 
}

.box-5 {
	width: 97%;
}

.box-5 > .block {
	background-color: #B11B1B;
}

.box-5::after {
	border-color: transparent transparent transparent #B11B1B; 
}

.table {
	width: 100%;
	display: table;
	margin-top: 50px;

}

.table > button {
	width: 10%;
	display: table-cell;
	border: 1px solid black;
	padding: 15px;
	background-color: transparent;
	cursor: pointer;
}

.table > button:hover {
	background-color: #ECECEC;
}

.table > button:active {
	background-color: #D900FC;
	color: #FFF;
}

.input {
	padding-top: 30px;
}
.input > select {
    background: #F3F3F3;
	border: 2px solid #ADADAD;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px 15px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #C2C2C2;
}

.input> input {
	border: 2px solid #AFAFAF;
	box-sizing: border-box;
	border-radius: 5px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #C2C2C2;
	padding: 10px 15px;
}

.input> input:hover{
	border: 2px solid #828282;
}

.input> input:focus{
	border: 2px solid #343434;
	outline: none;
	box-shadow: 0px 0px 10px 0px #00000066;
}

