body {
	margin: 0;
	padding: 200px;
}

.wrapper {
	max-width: 100%;
	width: 1000px;
	display: block;
	text-align: center;
	position: relative;
	left: 0;
	top: 0;
	z-index: -1;
}

.box{
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 15px;
	color: #fff;
	font-size: 22px;
}

.box sup {
	font-size: 16px;
}

.box-1{
	width: 1000px;
	background-color: #AD00C9;
}

.box-2 {
	width: 360px;
	background-color: #5200FF;
}

.box-3 {
	width: 670px;
	background-color: #00F0FF;
}

.box-4 {
	width: 566px;
	background-color: #07959E;
;
}

.box-5 {
	width: 872px;
	background-color: #B11B1B;
}

.table {
	width: 100%;
	display: table;
	margin-top: 50px;

}

.table > div {
	display: table-cell;
	border: 1px solid black;
	padding: 15px;
}

.popup {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	position: fixed;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	
}

.popup_content {
	top: 0;
	left: 0;
	max-width: 431px;
	width: 100%;
	height: 225px;
	background-color: #FFF;
	z-index: 1;
	display: flex;
	border-radius: 5px;
	text-align: center;
	justify-content: center;
	font-size: 25px;
	line-height: 32px;
	margin: auto;
}

.popup_content > p {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: auto;
}

