* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

main {
	padding: 50px;
}

.flex-box {
	gap: 20px 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	border: 1px solid red;
}

.flex-box > div {
	padding: 20px;
	border: 1px dashed #eee;
	text-align: center;
} 

.flex-box > :nth-child(odd) {
	background-color: #eee;
}