*{
	box-sizing: border-box;
}

main{
	margin: 0;
	padding: 0;
	width: 100%;
}

.flex-wrap{
	display: flex;
	flex-direction: column;
}

.first-screen {
	display: flex;
	border: 1px solid black;
	justify-content: space-between;
	align-items: center;
}

.first-screen > div {
	border: 1px solid black;
	padding: 50px;
	flex: 1;
}

.first-screen > div:nth-child(1) {
	background-color: #628D63;
}

.first-screen > div:nth-child(2) {
	background-color: #218163;
}

.first-screen > div:nth-child(3) {
	background-color: #21812E;
}

.second-screen {
	display: flex;
	border: 1px solid black;
	justify-content: space-between;
	align-items: center;
}

.second-screen > div {
	border: 1px solid black;
	padding: 50px;
	flex: 1;
}

.second-screen > div:nth-child(1) {
	background-color: #E9A920;
}

.second-screen > div:nth-child(2) {
	background-color: #E96B20;
	flex: 5;
}

.second-screen > div:nth-child(3) {
	background-color: #E9E641;
}

.third-screen {
	display: flex;
	border: 1px solid black;
	justify-content: space-between;
	align-items: center;
}

.third-screen > div {
	border: 1px solid black;
	padding: 50px;
	flex: 1;
}

.third-screen > div:nth-child(1) {
	background-color: #E9A920;
	flex: 6;
}

.third-screen > div:nth-child(2) {
	background-color: #E96B20;
	
}

.fourth-screen {
	display: flex;
	border: 1px solid black;
	justify-content: space-between;
	align-items: center;
}

.fourth-screen > div {
	border: 1px solid black;
	padding: 50px;
	flex: 1;
}

.fourth-screen > div:nth-child(1) {
	background-color: #E9A920;
}

.fourth-screen > div:nth-child(2) {
	background-color: #E96B20;
	
}

.fourth-screen > div:nth-child(3) {
	background-color: #E9E641;
	flex: 10;
}