*{
	box-sizing: border-box;
}

main {
	margin: 0;
	padding: 0;
	width: 100%;
}

.grid-container {
	grid-gap: 25px;
	display: grid;
	grid-template-areas: "Header Header Header"
	                     "Aside-left Content Aside-right"
	                     "Comments Comments ."
	                     ". Products Products"
	                     "Blog Blog-title Blog-title"
	                     ". Subscription ."
	                     "Links Links Social";
 	grid-template-columns: 150px 1fr 150px;
}

.grid-container > * {
	background-color: #eee;
	padding: 25px;
}

header {
	grid-area: Header;
}

.aside-left {
	grid-area: Aside-left;
}

.content {
	grid-area: Content;
	height: 400px;
}

.aside-right {
	grid-area: Aside-right;
}

.comments {
	grid-area: Comments;
	height: 150px;
}

.products {
	grid-area: Products;
	height: 150px;
}

.blog {
	grid-area: Blog;
}

.blog-title {
	grid-area: Blog-title;
}

.subscription {
	grid-area: Subscription;
}

.links {
	grid-area: Links;
}

.social {
	grid-area: Social;
}

