body {
	margin: 0;
	padding: 80px 200px;
}

.table {
	position: sticky;
	top: 0;
	width: 100%;
	display: table;
	margin-bottom: 50px;
	background-color: white;

}

.table > div {
	position: sticky;
	top: 0;
	display: table-cell;
	border: 1px solid black;
	padding: 15px;
	text-align: center;
}

.wrapper {
	max-width: 100%;
	width: 1000px;
	display: block;
	text-align: center;
	position: static;
	top: 0;
	z-index: -1;
}


.box{
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 15px;
	color: #fff;
	font-size: 22px;
}

.box sup {
	font-size: 16px;
}

.box-1{
	width: 1000px;
	background-color: #AD00C9;
}

.box-2 {
	width: 360px;
	background-color: #5200FF;
}

.box-3 {
	width: 670px;
	background-color: #00F0FF;
}

.box-4 {
	width: 566px;
	background-color: #07959E;
;
}

.box-5 {
	width: 872px;
	background-color: #B11B1B;
}

